<div>
    <p>Most Recent Data Recieved:</p>
    {{#each data}}
        <code style="display: block; width: 100%; margin-top: .5rem;">
            {{@index}}: {{this}}           
        </code>
    {{/each}}   
</div>
